applicationName: "${CODEDEPLOY_APP_NAME}"
deploymentGroupName: "${CODEDEPLOY_DEPLOYMENT_GROUP}"
revision:
  revisionType: AppSpecContent
  appSpecContent:
    content: |
      version: 0.0
      Resources:
        - TargetService:
            Type: AWS::ECS::Service
            Properties:
              TaskDefinition: ${AWS_ECS_TASK_DEFINITION_ARN}
              LoadBalancerInfo:
                ContainerName: "api"
                ContainerPort: "443"
              CapacityProviderStrategy:
              - Base: 1
                CapacityProvider: "${AWS_ECS_CAPACITY_PROVIDER}"
                Weight: 1